<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>Cats On Me!</title>
        <link rel=stylesheet href="https://d217f0ay5mnho1.cloudfront.net/static/bootstrap.css">
        <link rel=stylesheet href="https://d217f0ay5mnho1.cloudfront.net/static/bootstrap-responsive.css">
        <link rel=stylesheet href="https://d217f0ay5mnho1.cloudfront.net/static/catson.css">
        <script src="https://d217f0ay5mnho1.cloudfront.net/static/jquery.js"></script>
        <script src="static/catson.js"></script>
        <script src="https://d217f0ay5mnho1.cloudfront.net/static/face.js"></script>
        <script src="https://d217f0ay5mnho1.cloudfront.net/static/cvv.js"></script>

    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="nav-collapse">
                        <ul class="nav">
                            <a class="brand" href="/">CATS ON ME</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 40px;"></div>
        <div class="container-fluid" style="margin: 0 auto; text-align: center;">
            <canvas id="canvas" width="0" height="0"></canvas>
            <div id="webcam_content" style="display: none;">
                <video autoplay></video>
                <img src="">
                <div class="row">
                    <canvas style="display:none;"></canvas>
                </div>
                <div class="row">
                    <button id="take_snapshot">Take pic</button>
                    <button id="enable_dropzone">use dropzone</button>
                </div>
            </div>
            <div id="dropzone_content">
                <div id="drop_zone"><p>picture of you goes here</p></div>
                <button id="enable_webcam">use webcam</button>
            </div>
            <div id="download_content">
            </div>
        </div>

        <script>
            var faces = [];

            $('#enable_webcam').on('click', function() {
               use_webcam();
            });

            $('#take_snapshot').on('click', function() {
                take_snapshot();
            });

            $('#enable_dropzone').on('click', function() {
                use_dropzone();
            });


            // Setup the dnd listeners.
            var dropZone = document.getElementById('drop_zone');
            dropZone.addEventListener('dragover', handleDragOver, false);
            dropZone.addEventListener('drop', handleFileSelect, false);
        </script>
    </body>
</html>

